.UserPhoto img {
   width: 55px;
   height: 55px;
   border-radius: 50%;
}

.UserAll {
   margin: 10px 0px 0px 10px;
}

.User {
   margin-bottom: 10px;
}

.UserName {
   margin-left: 5px;
   font-size: 17px;
   font-weight: 400;

}